.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__logo {
    background: #1a2a6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #fdbb2d,
      #b21f1f,
      #1a2a6c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #fdbb2d,
      #b21f1f,
      #1a2a6c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__items {
    &-item {
      display: flex;
      align-items: center;
    }
  }

  &__userDetails {
    &-name {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      h2 {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
