.title {
  font-size: 30px;
  font-weight: normal;
  color: #e12020;
  text-align: center;
  
}
.sub-title {
  margin-bottom: 40px;
  font-size: 15px;
}

mat-dialog-content {
  padding: 20px;
  font-size: 16px;
  color: #222020;
  text-align: center;
}
mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.button-cancel {
  background-color: white;
  color: #0f0f0f;
width: 70px;
height:40px;
margin-bottom: 30px;
border-radius: 5px;
border: 1px solid white;
}

.button-confirm {
  background-color: #5aacdf;
  color: white;
  width: 70px;
  height: 40px;
  border-radius: 5px;
border: 1px solid white;
  margin-bottom: 30px;
}

.button-cancel:hover {
  background-color: #e0e0e0;
}

.button-confirm:hover {
  background-color: #d32f2f;
}
