.button {
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  &.rounded {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 11px;
  }

  &.primary {
    background: #005c97; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #363795,
      #005c97
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #363795,
      #005c97
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
  }

  &.secondary {
    color: #424b40;
    background-color: transparent;

    svg {
      fill: #424b40;
    }

    &:hover {
      background-color: #f2fcfb;
    }
  }

  &.error {
    background-color: rgb(247, 215, 215);
    border: 1px solid rgb(233, 3, 3);
    color: white;
    svg {
      fill: white;
    }
  }
  &.warning {
    background-color: rgb(255, 241, 196);
    border: 1px solid rgb(212, 163, 3);
    color: white;
    svg {
      fill: white;
    }
  }
}
