<ng-container *ngIf="mode === 'addStudent' || mode === 'editStudent'">
  <app-navbar></app-navbar>
</ng-container>

<app-auth>
  <div class="signup">
    <img src="/assets/images/logo.jpg" alt="logo" class="logo" />
    <div class="signup-details">
      <h2 class="title">{{ mode | title }}</h2>
      <p class="sub-title">
        Welcome to <b>SMS</b>, your seamless education management solution
      </p>
    </div>
  </div>

  <form class="signup-form" [formGroup]="basicDetails" (ngSubmit)="onSubmit()">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Basic Info</ng-template>
        <h3>Basic Details</h3>
        <div class="flex-col">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            </mat-form-field>
            <mat-error *ngIf="getErrror('name')">
              {{ getErrror("name") }}
            </mat-error>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            </mat-form-field>
          <mat-error *ngIf="getErrror('username')">
            {{ getErrror("username") }}
          </mat-error>

          <mat-form-field class="" appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age"
            />
          </mat-form-field>
          <mat-error *ngIf="getErrror('age')">
            {{ getErrror("age") }}
          </mat-error>
        </div>
        <div class="flex space-end">
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Academic Info</ng-template>
        <h3>Class</h3>
        <mat-form-field class="class" appearance="outline">
          <mat-label>Class</mat-label>
          <input matInput type="number"formControlName="class"
          />
        </mat-form-field>
        <mat-error *ngIf="getErrror('class')">
          {{ getErrror("class") }}
        </mat-error>


        <h3>Marks</h3>
        <div class="flex">
          <div><mat-form-field class="maths" appearance="outline">
            <mat-label>Maths</mat-label>
            <input matInput type="number" formControlName="maths" />
          </mat-form-field>
          <mat-error *ngIf="getErrror('maths')">
            {{ getErrror("maths") }}
          </mat-error></div>


          <div>
            <mat-form-field class="" appearance="outline">
              <mat-label>English</mat-label>
              <input matInput type="number" formControlName="english"/>
            </mat-form-field>
            <mat-error *ngIf="getErrror('english')">
              {{ getErrror("english") }}
            </mat-error>
          </div>
          <div>
            <mat-form-field class="" appearance="outline">
              <mat-label>Science</mat-label>
              <input matInput type="number" formControlName="science"/>
            </mat-form-field>
            <mat-error *ngIf="getErrror('science')">
              {{ getErrror("science") }}
            </mat-error>
          </div>


        </div>
        @if(getTotalMarks() > 0){
        <span>Total Marks: {{ getTotalMarks() }}</span>
        }
        <div class="flex space-between">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Credentials</ng-template>
        <div class="flex-col">
          <h3>Lets set a password for your account</h3>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
              type="button"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error *ngIf="getErrror('password')">
            {{ getErrror("password") }}
          </mat-error>

          <mat-form-field class="" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
              type="button"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error *ngIf="getErrror('confirmPassword')">
            {{ getErrror("confirmPassword") }}
          </mat-error>

        </div>
        <div class="flex space-between">
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>

    <app-button
      [styles]="{
        background: 'linear-gradient(to left, #061700)',
        padding: '13px',
        fontWeight: '600'
      }"
      [type]="'submit'"
    >
    {{ mode | button}}
    </app-button>
  </form>
  @if(mode=='signup'){
  <p class="signup">
    Already have an account? <a [routerLink]="['/login']">Sign In</a>
  </p>
  }
</app-auth>
