<main class="dashboard">
  <section class="dashboard__header">
    <h1 class="dashboard__header-title">Students</h1>
    <p class="dashboard__header-subtitle">
      Welcome to the students listing page. You will find here all the students
      details.
    </p>
  </section>

  <section class="dashboard__listing">
    <div class="dashboard__listing-actions">
      <app-button [variant]="'secondary'">
        <ng-icon name="featherPlus" class="icon" />
        <span>Add New</span>
      </app-button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Total Marks</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (student of students; track student.id) {
        <tr>
          <td class="name">{{ student.name }}</td>
          <td class="class">{{ student.class | grade }}</td>
          <td class="total">{{ student.totalMarks }}</td>
          <td class="status">
            <div
              [class]="
                'status-item ' +
                (student.totalMarks | status).toLowerCase().replace(' ', '-')
              "
            >
              {{ student.totalMarks | status }}
            </div>
          </td>
          <td class="actions">
            <app-button [variant]="'warning'" [classList]="['rounded']">
              <img src="/assets/icons/edit.svg" width="16" height="16" />
            </app-button>
            <app-button [variant]="'error'" [classList]="['rounded']">
              <img src="/assets/icons/delete.svg" width="16" height="16" />
            </app-button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</main>
